<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- CXF配置 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="hello" class="demo.frank.wu.ws.server.impl.HelloWorldImpl" />
	<jaxws:endpoint id="helloWorld" implementor="#hello" address="/HelloWorld" />
	
	<!-- Spring观察者模式配置 -->
	<bean id="eventSource" class="demo.frank.wu.spring.event.EventSource"/>
	<bean id="eventListener" class="demo.frank.wu.spring.event.EventListener"/>
</beans>
